<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AinSea Map with Enhanced Routing</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<div class="container">
    <h1>Fraud Detection Heat-Map</h1>
    <div class = "button-row">
        <button id="plotBtn">Plot Fraud Locations</button>
        <button id="viewBtn">Switch to Heatmap</button>
        <a href="/alert" class="fraudLink">Switch to Fraud View</a>
    </div>
    <div id="loading" style="display: none;">Loading...</div>
    <div id="map"></div>
</div>

<script src="./static/script.js"></script>
</body>
</html>